-
	var gridItems = [
		{
			label_mod: 'grid_item__label--mod_1',
			background: 'img-article-1',
			tag: 'Здравоохранение',
			author: 'Автор: Владимир Мищенко',
			title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении ',
			item_pos: 'grid_item--pos_3_mod grid_item--bg_mod',
			date: true
		},
		{
			label_mod: 'grid_item__label--mod_2',
			tag: 'Государственный сектор',
			tag_mod: 'grid_item__tag--color_5_mod',
			title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
			date: true
		},
		{
			tag: 'Страхование ',
			tag_mod: 'grid_item__tag--color_6_mod',
			title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
			date: true
		},
		{
			tag: 'Телекоммуникации',
			tag_mod: 'grid_item__tag--color_4_mod',
			title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
			date: true
		},
		{
			tag: 'Государственный сектор',
			tag_mod: 'grid_item__tag--color_1_mod',
			title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
			date: true
		},
		{
			video: true,
			label_mod: 'grid_item__label--mod_1',
			background: 'img-article-2',
			author: 'Юрий Чубатюк',
			title: '<span class="grid_item__title--mod_color">Digital</span> <span class="grid_item__title--mod_color">transformation</span> <span>по-украински</span> ',
			item_pos: 'grid_item--pos_1_mod grid_item--bg_mod grid_item--video_mod'
		},
		{
			label_mod: 'grid_item__label--mod_2',
			tag: 'Здравоохранение ',
			tag_mod: 'grid_item__tag--color_4_mod',
			author: 'Автор: Пётр Ванькин',
			title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении ',
			description: 'Решение дает возможность обеспечить комплексную, надежную защиту ИТ-инфраструктуры и регулирует уровень технических нагрузок с полным охватом разных цифровых систем',
			item_pos: 'grid_item--pos_4_mod',
			date: true
		},
		{
			label_mod: 'grid_item__label--mod_2',
			tag: 'Транспорт и логистика',
			tag_mod: 'grid_item__tag--color_2_mod',
			title: 'Служба доставки еды Foodora Canada заключила партнерские отношения с производителем роботов-курьеров Tiny Mile ',
			date: true
		},
		{
			label_mod: 'grid_item__label--mod_2',
			tag: 'Банки',
			tag_mod: 'grid_item__tag--color_3_mod',
			title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
			date: true
		},
		{
			image: 'img-article-6',
			tag: 'Ритейл и eCommerce',
			tag_mod: 'grid_item__tag--color_7_mod',
			title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
			item_pos: 'grid_item--pos_1_mod grid_item--img_mod',
			date: true
		},
		{
			label_mod: 'grid_item__label--mod_2',
			tag: 'Ритейл и eCommerce',
			tag_mod: 'grid_item__tag--color_7_mod',
			title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
			date: true
		},
		{
			tag: 'Страхование',
			tag_mod: 'grid_item__tag--color_6_mod',
			title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
			date: true
		},
		{
			image: 'img-article-4',
			tag: 'Государственный сектор',
			tag_mod: 'grid_item__tag--color_5_mod',
			author: 'Автор: Владимир Мищенко',
			title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
			item_pos: 'grid_item--pos_1_mod grid_item--img_mod',
			date: true
		},
		{
			tag: 'Ритейл/еCommerce',
			tag_mod: 'grid_item__tag--color_7_mod',
			author: 'Автор: Аполлинарий Космодемьянский',
			title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
			title_mod: 'grid_item__title--size_2_mod',
			item_pos: 'grid_item--pos_4_mod',
			date: true
		},
		{
			tag: 'Транспорт и логистика',
			tag_mod: 'grid_item__tag--color_2_mod',
			author: 'Автор: Артём Голоскевич',
			title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов ',
			title_mod: 'grid_item__title--size_1_mod',
			description: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела',
			item_pos: 'grid_item--pos_2_mod',
			date: true
		},
		{
			image: 'img-article-3',
			tag: 'Банки',
			tag_mod: 'grid_item__tag--color_3_mod',
			author: 'Автор: Артём Голоскевич',
			title: 'AI и ML от Dataiku в банковском деле для безопасности и эффективного управления данными',
			item_pos: 'grid_item--pos_1_mod grid_item--img_mod',
			date: true
		},
		{
			tag: 'Телекоммуникации',
			tag_mod: 'grid_item__tag--color_1_mod',
			title: 'China Unicom применяет аналитику больших данных и Nokia Predictive Care для выявления аномалий в пакетном ядре',
			title_mod: 'grid_item__title--size_2_mod',
			item_pos: 'grid_item--pos_1_mod',
			date: true
		},
		{
			image: 'img-article-4',
			tag: 'Государственный сектор',
			tag_mod: 'grid_item__tag--color_5_mod',
			author: 'Автор: Пётр Ванькин',
			title: 'Smart Farming от Alteryx для цифрового преобразования и развития сельского хозяйства',
			item_pos: 'grid_item--pos_4_mod grid_item--img_mod',
			date: true
		},
		{
			image: 'img-article-3',
			tag: 'Банки',
			tag_mod: 'grid_item__tag--color_3_mod',
			author: 'Автор: Артём Голоскевич',
			title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
			item_pos: 'grid_item--pos_4_mod grid_item--img_mod',
			date: true
		},
		{
			image: 'img-article-7',
			tag: 'Транспорт и логистика ',
			tag_mod: 'grid_item__tag--color_2_mod',
			author: 'Автор: Артём Голоскевич',
			title: 'Поставщик технологических логистических решений Aramex применяет MobiControl для контроля активов',
			item_pos: 'grid_item--pos_4_mod grid_item--img_mod',
			date: true
		},
		{
			tag: 'Банки',
			tag_mod: 'grid_item__tag--color_3_mod',
			author: 'Автор: Артём Голоскевич',
			title: 'Новейшая интеллектуальная защита корпоративных данных от Bitdefender для Patria Bank',
			description: 'Решение является одним из лучших на рынке для обеспечения ИТ-безопасности и эффективной борьбы с киберпреступностью',
			item_pos: 'grid_item--pos_1_mod',
			date: true
		},
		{
			tag: 'Транспорт и логистика',
			tag_mod: 'grid_item__tag--color_2_mod',
			title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
			title_mod: 'grid_item__title--size_2_mod',
			item_pos: 'grid_item--pos_1_mod',
			date: true
		},
		{
			background: 'img-article-5',
			tag: 'Государственый сектор',
			tag_mod: 'grid_item__tag--color_5_mod',
			author: 'Автор: Артём Голоскевич',
			title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
			title_mod: 'grid_item__title--size_2_mod',
			description: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела',
			item_pos: 'grid_item--pos_2_mod grid_item--bg_mod',
			date: true
		},
		{
			tag: 'Государственый сектор',
			tag_mod: 'grid_item__tag--color_5_mod',
			author: 'Автор: Артём Голоскевич',
			title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
			description: '',
			date: true
		},
		{
			tag: 'Банки',
			tag_mod: 'grid_item__tag--color_3_mod',
			author: 'Автор: Артём Голоскевич',
			title: 'Инвестиционная компания Franklin Templeton Investments применяет решение о данных от Fractal',
			title_mod: 'grid_item__title--size_2_mod',
			item_pos: 'grid_item--pos_1_mod',
			date: true
		},
		{
			label_mod: 'grid_item__label--mod_2',
			tag: 'Здравохранение',
			tag_mod: 'grid_item__tag--color_4_mod',
			title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
			date: true
		},
		{
			tag: 'Банки',
			tag_mod: 'grid_item__tag--color_3_mod',
			author: 'Автор: Артём Голоскевич',
			title: 'Инвестиционная компания Franklin Templeton Investments применяет решение о данных от Fractal',
			description: 'ПО сочетает обработку естественного языка, методологию синтаксического анализа неструктурированного текста и специальное ПО под базы данных для определения атрибутов платежа. Решение приводит к прогнозируемой ежегодной экономии в размере 6 млн. долл. в виде затрат на обработку и доработку вручную',
			item_pos: 'grid_item--pos_1_mod',
			date: true
		},
		{
			tag: 'Здравохранение',
			tag_mod: 'grid_item__tag--color_4_mod',
			author: 'Автор: Аполлинарий Космодемьянский',
			title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
			description: 'Решение помогает избежать угроз нарушения сохранности конфиденциальной информации и управлять данными в режиме реального времени',
			item_pos: 'grid_item--pos_4_mod',
			date: true
		},
		{
			tag: 'Здравохранение',
			tag_mod: 'grid_item__tag--color_7_mod',
			author: 'Автор: Аполлинарий Космодемьянский',
			title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
			item_pos: 'grid_item--pos_4_mod',
			date: true
		},
		{
			tag: 'Здравохранение',
			tag_mod: 'grid_item__tag--color_4_mod',
			author: 'Автор: Аполлинарий Космодемьянский',
			title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
			title_mod: 'grid_item__title--size_2_mod',
			item_pos: 'grid_item--pos_4_mod',
			date: true
		},
		{
			tag: 'Здравохранение',
			tag_mod: 'grid_item__tag--color_4_mod',
			author: 'Автор: Владимир Мищенко',
			title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
			description: 'Dome9 – это комплексная программная платформа для обеспечения безопасности и согласования общедоступных облаков. Используя Dome9, компания оценивает свой уровень безопасности, защищает пользователей от кражи личной информации и потери данных в облаке',
			item_pos: 'grid_item--pos_1_mod',
			date: true
		}
	];

section.grid_section
	.grid_section__wrapper
		each item in gridItems
			.grid_item(class=item.item_pos)
				if item.background
					+picture({
						class: 'grid_item__background_img',
						img: `${item.background}`
					})
				if item.image
					a(href="#" class='grid_item__img_wrapper')
						+picture({
							img_class: 'grid_item__img cover_img',
							img: `${item.image}`
						}) 
									
				.grid_item__content 
					.grid_item__text 
						.grid_item__caption
							if item.tag
								a(href='#').grid_item__tag(class=item.tag_mod)= item.tag

							if item.author
								.grid_item__author= item.author

						if item.title
							a(href="#").grid_item__title(class=item.title_mod)!= item.title

						if item.description
							.grid_item__description= item.description                    
							
					if item.date
						.grid_item__date_block
								span.grid_item__date_publication= publication_date
								span.grid_item__time_publication= publication_time
					if item.video
						button(type='button').btn_watch 
							span.btn_watch__text Cмотреть
							.btn_watch__icon
								+icon('play', 'icon--size_mod')       

				if item.label_mod
						.grid_item__label(class=item.label_mod) 
								+icon('light', 'icon--size_mod')