-
    var gridItems = [
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: 'img-article-1',
            tag: 'Здравоохранение',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: true,
            tag_orange: false,
            tag_pink: false,
            tag_red: false,
            tag_violet: false,
            author: 'Автор: Владимир Мищенко',
            title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении ',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: true,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: true,
            background: '',
            tag: 'Государственный сектор',
            tag_green:false,
            tag_blue: true,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: false,
            tag_red: false,
            tag_violet: false,
            author: '',
            title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Страхование ',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: false,
            tag_red: false,
            tag_violet: true,
            author: '',
            title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Телекоммуникации',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: true,
            tag_orange: false,
            tag_pink: false,
            tag_red: false,
            tag_violet: false,
            author: '',
            title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Государственный сектор',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: false,
            tag_red: true,
            tag_violet: false,
            author: '',
            title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: true,
            label_new: true,
            label_light: false,
            background: 'img-article-2',
            tag: '',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: false,
            tag_red: false,
            author: 'Юрий Чубатюк',
            title: '<span class="grid_block__title--red">Digital</span> <span class="grid_block__title--red">transformation</span> <span>по-украински</span> ',
            title_36: false,
            title_22: false,
            description: '',
            date: '',
            time: '',
            s_2x1: true,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: true,
            background: '',
            tag: 'Здравоохранение ',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: true,
            tag_orange: false,
            tag_pink: false,
            tag_red: false,
            author: 'Автор: Пётр Ванькин',
            title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении ',
            title_36: false,
            title_22: false,
            description: 'Решение дает возможность обеспечить комплексную, надежную защиту ИТ-инфраструктуры и регулирует уровень технических нагрузок с полным охватом разных цифровых систем',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: true
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: true,
            background: '',
            tag: 'Транспорт и логистика',
            tag_green: true,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: true,
            tag_pink: false,
            tag_red: false,
            tag_violet: false,
            author: '',
            title: 'Служба доставки еды Foodora Canada заключила партнерские отношения с производителем роботов-курьеров Tiny Mile ',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: true,
            background: '',
            tag: 'Банки',
            tag_green: true,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: false,
            tag_red: false,
            author: '',
            title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: 'img-article-6',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Ритейл и eCommerce',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: true,
            tag_red: false,
            tag_violet: false,
            author: '',
            title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: true,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: true,
            background: '',
            tag: 'Ритейл и eCommerce',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: true,
            tag_red: false,
            tag_violet: false,
            author: '',
            title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Страхование',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: false,
            tag_red: false,
            tag_violet: true,
            author: '',
            title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: 'img-article-4',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Государственный сектор',
            tag_green: false,
            tag_blue: true,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: false,
            tag_red: false,
            tag_violet: false,
            author: 'Автор: Владимир Мищенко',
            title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: true,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Ритейл/еCommerce',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: true,
            tag_violet: false,
            tag_red: false,
            author: 'Автор: Аполлинарий Космодемьянский',
            title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
            title_36: false,
            title_22: true,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: true
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Транспорт и логистика',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: true,
            tag_pink: false,
            tag_violet: false,
            tag_red: false,
            author: 'Автор: Артём Голоскевич',
            title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов ',
            title_36: true,
            title_22: false,
            description: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: true,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: 'img-article-3',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Банки',
            tag_green: true,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: false,
            tag_violet: false,
            tag_red: false,
            author: 'Автор: Артём Голоскевич',
            title: 'AI и ML от Dataiku в банковском деле для безопасности и эффективного управления данными',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: true,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Телекоммуникации',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: false,
            tag_violet: false,
            tag_red: true,
            author: '',
            title: 'China Unicom применяет аналитику больших данных и Nokia Predictive Care для выявления аномалий в пакетном ядре',
            title_36: false,
            title_22: true,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: true,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: 'img-article-4',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Государственный сектор',
            tag_green: false,
            tag_blue: true,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: false,
            tag_violet: false,
            tag_red: false,
            author: 'Автор: Пётр Ванькин',
            title: 'Smart Farming от Alteryx для цифрового преобразования и развития сельского хозяйства',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: true
        },
        {
            image: 'img-article-3',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Банки',
            tag_green: true,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: false,
            tag_violet: false,
            tag_red: false,
            author: 'Автор: Артём Голоскевич',
            title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: true
        },
        {
            image: 'img-article-7',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Транспорт и логистика ',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: true,
            tag_pink: false,
            tag_violet: false,
            tag_red: false,
            author: 'Автор: Артём Голоскевич',
            title: 'Поставщик технологических логистических решений Aramex применяет MobiControl для контроля активов',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: true
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Банки',
            tag_green: true,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: false,
            tag_violet: false,
            tag_red: false,
            author: 'Автор: Артём Голоскевич',
            title: 'Новейшая интеллектуальная защита корпоративных данных от Bitdefender для Patria Bank',
            title_36: false,
            title_22: false,
            description: 'Решение является одним из лучших на рынке для обеспечения ИТ-безопасности и эффективной борьбы с киберпреступностью',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: true,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Транспорт и логистика',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: true,
            tag_pink: false,
            tag_violet: false,
            tag_red: false,
            author: '',
            title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
            title_36: false,
            title_22: true,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: true,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: 'img-article-5',
            tag: 'Государственый сектор',
            tag_green: false,
            tag_blue: true,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: false,
            tag_violet: false,
            tag_red: false,
            author: 'Автор: Артём Голоскевич',
            title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
            title_36: false,
            title_22: true,
            description: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: true,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Государственый сектор',
            tag_green: false,
            tag_blue: true,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: false,
            tag_violet: false,
            tag_red: false,
            author: 'Автор: Артём Голоскевич',
            title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Банки',
            tag_green: true,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: false,
            tag_violet: false,
            tag_red: false,
            author: 'Автор: Артём Голоскевич',
            title: 'Инвестиционная компания Franklin Templeton Investments применяет решение о данных от Fractal',
            title_36: false,
            title_22: true,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: true,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Здравохранение',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: true,
            tag_orange: false,
            tag_pink: false,
            tag_violet: false,
            tag_red: false,
            author: '',
            title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
            title_36: false,
            title_22: false,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Банки',
            tag_green: true,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: false,
            tag_violet: false,
            tag_red: false,
            author: 'Автор: Артём Голоскевич',
            title: 'Инвестиционная компания Franklin Templeton Investments применяет решение о данных от Fractal',
            title_36: false,
            title_22: false,
            description: 'ПО сочетает обработку естественного языка, методологию синтаксического анализа неструктурированного текста и специальное ПО под базы данных для определения атрибутов платежа. Решение приводит к прогнозируемой ежегодной экономии в размере 6 млн. долл. в виде затрат на обработку и доработку вручную',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: true,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Здравохранение',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: true,
            tag_orange: false,
            tag_pink: false,
            tag_violet: false,
            tag_red: false,
            author: 'Автор: Аполлинарий Космодемьянский',
            title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
            title_36: false,
            title_22: false,
            description: 'Решение помогает избежать угроз нарушения сохранности конфиденциальной информации и управлять данными в режиме реального времени',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: true
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Здравохранение',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: false,
            tag_orange: false,
            tag_pink: true,
            tag_violet: false,
            tag_red: false,
            author: 'Автор: Аполлинарий Космодемьянский',
            title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
            title_36: false,
            title_22: true,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: true
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Здравохранение',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: true,
            tag_orange: false,
            tag_pink: false,
            tag_violet: false,
            tag_red: false,
            author: 'Автор: Аполлинарий Космодемьянский',
            title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
            title_36: false,
            title_22: true,
            description: '',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: false,
            s_2x2: false,
            s_2x3: false,
            s_1x2: true
        },
        {
            image: '',
            video: false,
            label_new: false,
            label_light: false,
            background: '',
            tag: 'Здравохранение',
            tag_green: false,
            tag_blue: false,
            tag_lightblue: true,
            tag_orange: false,
            tag_pink: false,
            tag_violet: false,
            tag_red: false,
            author: 'Автор: Владимир Мищенко',
            title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
            title_36: false,
            title_22: false,
            description: 'Dome9 – это комплексная программная платформа для обеспечения безопасности и согласования общедоступных облаков. Используя Dome9, компания оценивает свой уровень безопасности, защищает пользователей от кражи личной информации и потери данных в облаке',
            date: '00 окт 20',
            time: '~ 1 мин',
            s_2x1: true,
            s_2x2: false,
            s_2x3: false,
            s_1x2: false
        }
    ];

.grid_block
    .grid_block__wrapper
        each item in gridItems
            .grid_item(class={background: item.background},class={image: item.image},class={s_2x2: item.s_2x2},class={s_2x1: item.s_2x1},class={s_2x3: item.s_2x3},class={s_1x2: item.s_1x2},class={video: item.video})
                if(item.background)
                    +picture({
                        class: 'grid_item__background',
                        img: `${item.background}`
                    })

                if(item.image)
                    +picture({
                        class: 'grid_item__img',
                        img: `${item.image}`
                    })
                    
                .grid_item__content 
                    .grid_item__text 
                        .grid_item__caption 
                            if(item.tag)
                                a(href='#' ,
                                class={tag_red:item.tag_red},
                                class={tag_orange:item.tag_orange},
                                class={tag_green: item.tag_green},
                                class={tag_lightblue:item.tag_lightblue},
                                class={tag_blue:item.tag_blue},
                                class={tag_violet:item.tag_violet},
                                class={tag_pink:item.tag_pink}
                                ).grid_item__tag= item.tag

                            if(item.author)
                                .grid_item__author= item.author

                        if(item.title)
                            .grid_item__title(class={title_36px:item.title_36},class={title_22px:item.title_22})!= item.title

                        if(item.description)
                            .grid_item__description= item.description                    
                
                    if(item.date)
                        .grid_item__date 
                            span.date_publication= item.date
                            span.time_publication= item.time
                    if(item.video)
                        a(href="#").grid_item__watch 
                            span Cмотреть
                            +icon('play')        

                if(item.label_light)
                    .label
                        +icon('light')   
            
                if(item.label_new)
                    .label NEW! 
            

